
.cag-about-title {
  display: table;
  background-color: $color-link;
  border-radius: 2px 2px 0 0;
  background-color: $color-link;





.cag-about-title-shape {
    background-color: lightblue;
    border: 1px solid black;
    transform: skew(-20deg, 0deg);
}


  // a {
  //   background-color: $background-dark;
  //   padding: 14px 45px 14px 14px;
  //   color: $color-text-light;
  //   text-transform: uppercase;
  //   font-size: $size-title;
  //   border-top-left-radius: 2px;
  //
  // }

}
