
.xm {
  margin: 0 !important;
}
.xmt {
  margin-top: 0 !important;
}
.xmb {
  margin-bottom: 0 !important;
}
.xml {
  margin-left: 0 !important;
}
.xmr {
  margin-right: 0 !important;
}
.xmv {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}
.xmh {
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.xp {
  padding: 0 !important;
}
.xpt {
  padding-top: 0 !important;
}
.xpb {
  padding-bottom: 0 !important;
}
.xpl {
  padding-left: 0 !important;
}
.xpr {
  padding-right: 0 !important;
}
.xpv {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}
.xph {
  padding-left: 0 !important;
  padding-right: 0 !important;
}



@media only screen and (max-width: 600px) {
  .sxm {
    margin: 0 !important;
  }
  .sxmt {
    margin-top: 0 !important;
  }
  .sxmb {
    margin-bottom: 0 !important;
  }
  .sxml {
    margin-left: 0 !important;
  }
  .sxmr {
    margin-right: 0 !important;
  }
  .xmv {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
  }
  .sxmh {
    margin-left: 0 !important;
    margin-right: 0 !important;
  }

  .sxp {
    padding: 0 !important;
  }
  .sxpt {
    padding-top: 0 !important;
  }
  .sxpb {
    padding-bottom: 0 !important;
  }
  .sxpl {
    padding-left: 0 !important;
  }
  .sxpr {
    padding-right: 0 !important;
  }
  .sxpv {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
  }
  .sxph {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }

}
